.btn {
  margin: 5px;
  padding: 8px 16px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  width: 160px;
  background-color: rgb(175, 27, 27); 
  color: #fff; 
}

.btn:hover {
  opacity: 0.7;
  color: #fff;
}

.modal-btn {
  background-color: rgba(175, 27, 27, 0.678);
  color: rgba(255, 250, 255, 0.822);
  margin: 5px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  width: 90px;
}

.modal-btn:hover {
  background-color: rgba(175, 27, 27, 0.4);
}