.favourites-items-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 70%;
  margin: 0 auto;
}

.empty-favourites {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.item {
  margin: 66px;
}