.form-container {
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
}

.input-field {
  margin: 5px;
  border-radius: 0px;
  line-height: 20px;
}

.error {
  color: rgb(190, 3, 3);
}

.label {
  font-weight: bold;
}

.submit-btn {
  border: none;
  cursor: pointer;
  width: 180px;
  background-color: rgba(96, 97, 175, 0.747);
  color: #e4af7a;
  border-radius: 6px;
  padding: 7px 0;
  font-weight: bold;
  margin-top: 16px;
}

.submit-btn:hover {
  opacity: 0.7;
}