.modal-container {
  height: 100vh;
  background-color: rgba(73, 6, 6, 0.747);
}

.modal {
  width: 30%;
  color: rgba(255, 250, 255, 0.822);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  border-radius: 8px;
  background-color: rgba(17, 56, 128, 0.747);
}

.modal__header {
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(36, 9, 80, 0.747);
}

.modal__header__text {
  padding-left: 20px;
}

.modal__header__cross {
  margin: 0 10px;
  padding: 0 10px;
  font-size: 22px;
  border-radius: 0 5px 0 0;
}

.modal__header__cross:hover {
  opacity: 0.7;
  cursor: pointer;
}

.modal__text {
  padding: 0 15px;
}

.modal__btn-container {
  text-align: center;
}