.modal-container {
  height: 100%;
  background-color: rgba(73, 6, 6, 0.747);
}

.modal {
  width: 30%;
  color: rgba(255, 250, 255, 0.822);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  border-radius: 8px;
}

.modal__header {
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__header__text {
  padding-left: 20px;
}

.modal__header__cross {
  margin: 0 10px;
  padding: 0 10px;
  font-size: 22px;
  border-radius: 0 5px 0 0;
}

.modal__header__cross:hover {
  background-color: rgba(175, 27, 27, 0.4);
  cursor: pointer;
}

.modal__text {
  padding: 0 15px;
}

.modal__btn-container__btn {
  background-color: rgba(175, 27, 27, 0.678);
  color: rgba(255, 250, 255, 0.822);
  margin: 5px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  width: 90px;
}

.modal__btn-container__btn:hover {
  background-color: rgba(175, 27, 27, 0.4);
}