.item {
  text-align: center;
  margin: 35px;
  border: 3px solid #fff;
  position: relative;
}

.item__image {
  width: 250px;
  height: 205px;
}

.item:hover {
  border: 3px solid rgba(59, 4, 2, 0.952);
}

.remove-from-cart {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 223px;
  top: 22px;
  color: peru;
  font-weight: bold;
  font-size: 22px;
}

.remove-from-cart:hover {
  cursor: pointer;
  opacity: 0.7;
}