.container {
  display: flex;
  justify-content: space-around;
}

.cart-items-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}

.empty-cart {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}