html, body {
  height: 100%;
}

.container {
  text-align: center;
  height: 100%;
}

.shop-items-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 70%;
  margin: 0 auto;
}

