.header__icons-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(238, 238, 207);
  padding: 20px 0;
}

.header-icon {
  width: 150px;
  height: 150px;
}

.header__nav-links-container {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  background-color: rgba(96, 97, 175, 0.747);
  margin: 0;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: rgb(56, 65, 62);
}

.header__nav-links-container li {
  padding: 10px;
}

.nav-link:hover, .active {
  color: rgb(228, 175, 122);
}